$navbar-default-bg: black;

#logo {
	float: left;
	font-size: 1.7em;
	color: white;
	text-transform:uppercase;
	letter-spacing:-1px;
	font-weight: bold;
}

#logo:hover {
	color:white;
	text-decoration: none;
}

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url("screenshotted.png");
	background-size: cover;
	height: 550px;
}

.jumbotron h1 {
	color: #fff !important;
	text-align: center;
	margin:30px !important;
	letter-spacing:-1px !important;
	font-weight: bold !important;
}

.btn-xlarge {
	font-size: 1.7em !important;
	background-color: black !important;
}

.btn-xlarge:hover {
	background-color: red !important;
}

.article-actions {
	border-top:1px solid #eaeaea;
	padding-top:5px;
}

.description {
	margin-top:0px;
}

.article-title {
	font-weight: bold;
	font-size:1.5em;
}

.article-body {
	border-top:1px solid #eaeaea;
	padding-top:15px;
	padding-bottom:15px;
}
footer {
	margin-top: 45px;
	padding-top:5px;
	border-top:1px solid #eaeaea;
	color:#777;
}

footer a:hover {
	color:#222;
}

footer small {
	float: left;
}

footer ul {
	float: right;
	list-style: none;
}

footer ul li {
	float:left;
	margin-left: 15px;
}



@import "bootstrap-sprockets";
@import "bootstrap";




